// 
// game variables
// 

$game-speed: 30;

@import 'scss/Land';
@import 'scss/Background';
@import 'scss/Bird';
@import 'scss/PauseButton';
@import 'scss/GameArea';
@import 'scss/TitleScreen';
@import 'scss/HelpScreen';
@import 'scss/Pipes';
@import 'scss/Score';
@import 'scss/SummaryScreen';

* {
  margin: 0;
  padding: 0; 
  user-select: none;
}

body {
  overflow: hidden;
}

#App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

