#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100vw;
  height: 100vh;

  background-image: url(images/bg.png);
  background-repeat: repeat-x;
  background-size: auto 100vh;

	animation: animateBackground 9999s linear infinite;
	// TODO: find a way to loop background pattern movement without hacking
	// Problem: background position is calculated in relation to the element, not the background-image itself
}

@keyframes animateBackground {
  0% { background-position: 0px 0px; }
  100% { background-position: 9999 * $game-speed * -0.25vh 0px; }
}