#bird {
	$size: 6vh;
	$ratio: 17/12;

	background-image: url(images/bird.png);
	position: absolute;
	left: 25%;
  width: $size * $ratio;
  height: $size;
  background-repeat: no-repeat;
  background-size: auto 100%;
	image-rendering: pixelated;
	animation: animateBird 300ms step-start infinite;
}

@keyframes animateBird {
	0% { background-position: 0px 0px; }
	25% { background-position: 50% 0px; }
  50% {background-position: 100% 0px; }
	75% { background-position: 50% 0px; }
  100% { background-position: 0px 0px; }
}