.help-screen {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, 0);

	> * {
		display: block;
		margin: 0 auto;
		image-rendering: pixelated;
	}

	.get-ready {
		height: 10vh;
		margin-bottom: 10vh;
	}

	.help {
		height: 5vh * 49 / 12;
	}

	// CSS Transition

	opacity: 0;

	&-enter {
		opacity: 0;

		&-active {
			opacity: 1;
			transition: opacity 500ms
		}

		&-done {
			opacity: 1;
		}
	}

	&-exit {
		opacity: 1;

		&-active {
			opacity: 0;
			transition: opacity 500ms
		}

		&-done {
			opacity: 0;
		}
	}
}