.score_small {
	position: absolute;
	
	right: 4vh;
	height: 3vh;

	&--current {
		top: 8vh;
	}

	&--highest {
		top: 18vh;
	}

	&__number {
		height: 100%;
		image-rendering: pixelated;
		margin: 0 0.2vh;
	}
}