.score_small {
	position: absolute;
	
	right: 4.5vh;
	height: 4vh;

	&--current {
		top: 7.5vh;
	}

	&--highest {
		top: 16.5vh;
	}

	&__number {
		height: 100%;
		image-rendering: pixelated;
		margin: 0 0.2vh;
	}
}