.summary-screen {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, 0);
	z-index: 5;

	> * {
		display: block;
		margin: 0 auto;
		image-rendering: pixelated;
	}

	.result-board {
		position: relative;
		width: fit-content;

		&-background {
			height: 25vh;
		}
	}

	.game-over {
		height: 10vh;
		margin-bottom: 5vh;
	}

	&-playbutton {
		background: unset;
		border: unset;
		height: 7vh;
		margin-top: 5vh;
		cursor: pointer;

		img {
			height: 100%;
		}
	}

	// CSS Transition

	// CSS Transition

	opacity: 0;
	display: none;

	&-enter {
		opacity: 0;
		display: block;
		transform: translate(-50%, 2vh);

		&-active {
			opacity: 1;
			display: block;
			transform: translate(-50%, 0);
			transition: opacity 500ms, transform 500ms;
		}

		&-done {
			opacity: 1;
			display: block;
		}
	}

	&-exit {
		display: none;

		&-active {
			display: none;
		}

		&-done {
			opacity: 0;
			display: none;
		}
	}
}

.new-record {
	position: absolute;
	height: 2.3vh;
	
	top: 13.2vh;
	right: 13vh;
}