#title-screen {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	> * {
		display: block;
		margin: 0 auto;
		image-rendering: pixelated;
	}

	.flappy-bird-title {
		height: 10vh;
		margin-bottom: 5vh;
	}

	.flappy-bird-title-playbutton {
		background: unset;
		border: unset;
		height: 7vh;
		margin-top: 5vh;

		img {
			height: 100%;
		}
	}
}

