.title-screen {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, 0);
	z-index: 5;

	> * {
		display: block;
		margin: 0 auto;
		image-rendering: pixelated;
	}

	.flappy-bird-title {
		height: 10vh;
		margin-bottom: 10vh;
	}

	.flappy-bird-title-playbutton {
		background: unset;
		border: unset;
		height: 7vh;
		margin-top: 5vh;
		cursor: pointer;

		img {
			height: 100%;
		}
	}

	// CSS Transition

	opacity: 0;

	&-enter {
		opacity: 0;
		transform: translate(-50%, 2vh);

		&-active {
			opacity: 1;
			transform: translate(-50%, 0);
			transition: opacity 500ms, transform 500ms;
		}

		&-done {
			opacity: 1;
		}
	}

	&-exit {
		opacity: 1;

		&-active {
			opacity: 0;
		}

		&-done {
			opacity: 0;
			display: none;
		}
	}
}

